In [45]:
# I install pandas because i am cleaning dataset first before moving to visualization portion
# and I want to see the data_dictionary.xlsx file directly in the output so i install openpyxl
# rest is csv file
! pip3 install pandas openpyxl
! pip3 install pandas
! pip3 install --upgrade pip
! pip3 install numpy

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (2.3.0)
Requirement already satisfied: openpyxl in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (3.1.5)
Requirement already satisfied: numpy>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2.3.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/macbookpro/Library/Python/3.13/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: et-xmlfile in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in /Users/macbookpro/Library/Python/3.13/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (2.3.0)
Requirement already satisfied: numpy>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2.3.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/macbookpro/Library/Python/3.13/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /Users/macbookpro/Library/Python/3.13/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: pip in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (25.1.1)
Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (2.3.0)

In [44]:
# I am checking whole columns name line by line by moving to each csv file one by one
import pandas as pd
data_dict = pd.read_csv('data_dictionary.csv')
data_dict.dropna(inplace=True)
print(data_dict)

''' I think I don't need to read data_dictionary.xlsx because they have same name just format 
change '''
data_dict.duplicated().sum()
data_dict.columns

               Table                  Field  \
0            Reports    Release Period (PK)
1            Reports             Start Date
2            Reports               End Date
3             States             State (PK)
4             States             State Name
5             States                 Region
6           Measures        Measure ID (PK)
7           Measures                Measure
8           Measures                   Type
9          Questions           Question Num
10         Questions        Measure ID (FK)
11         Questions               Question
12         Questions      Bottom-box Answer
13         Questions      Middle-box Answer
14         Questions         Top-box Answer
15  National Results    Release Period (FK)
16  National Results        Measure ID (FK)
17  National Results  Bottom-box Percentage
18  National Results  Middle-box Percentage
19  National Results     Top-box Percentage
20     State Results    Release Period (FK)
21     State Results             State (FK)
22     State Results        Measure ID (FK)
23     State Results  Bottom-box Percentage
24     State Results  Middle-box Percentage
25     State Results     Top-box Percentage
26         Responses    Release Period (FK)
27         Responses             State (FK)
28         Responses            Facility ID
29         Responses      Completed Surveys
30         Responses      Response Rate (%)

                                          Description
0   Unique identifier for each HCAHPS report and t...
1   Survey results from patients discharged betwee...
2   Survey results from patients discharged betwee...
3   State abbreviation for the 50 US States (plus ...
4                                     Full state name
5   Groups of states as defined by the United Stat...
6   Unique identifier for each HCAHPS measure (mea...
7                             The measure description
8   "Composite measures" are made up of more than ...
9   Question number as it appears on the HCAHPS pa...
10               The measure each question relates to
11           The question as it appears on the survey
12  The answer(s) to the question considered least...
13  The answer(s) to the question considered inter...
14  The answer(s) to the question considered most ...
15              The HCAHPS report each row relates to
16                    The measure each row relates to
17  The percentage of respondents at a national le...
18  The percentage of respondents at a national le...
19  The percentage of respondents at a national le...
20              The HCAHPS report each row relates to
21                      The state each row relates to
22                    The measure each row relates to
23  The percentage of respondents at the state lev...
24  The percentage of respondents at the state lev...
25  The percentage of respondents at the state lev...
26              The HCAHPS report each row relates to
27                      The state each row relates to
28  Unique identifier for each hospital that parti...
29  Completed surveys from patients discharges fro...
30  Response rate from surveys submitted to patien...

Index(['Table', 'Field', 'Description'], dtype='object')

In [35]:
measures = pd.read_csv('measures.csv')
print(measures)
# there is no need to remove any nan value here
measures.duplicated().sum()
measures.columns

     Measure ID                                Measure               Type
0      H_COMP_1              Communication with Nurses  Composite Measure
1      H_COMP_2             Communication with Doctors  Composite Measure
2      H_COMP_3       Responsiveness of Hospital Staff  Composite Measure
3      H_COMP_5          Communication about Medicines  Composite Measure
4      H_COMP_6                  Discharge Information  Composite Measure
5      H_COMP_7                        Care Transition  Composite Measure
6   H_CLEAN_HSP    Cleanliness of Hospital Environment    Individual Item
7   H_QUIET_HSP      Quietness of Hospital Environment    Individual Item
8  H_HSP_RATING                Overall Hospital Rating        Global Item
9      H_RECMND  Willingness to Recommend the Hospital        Global Item

Index(['Measure ID', 'Measure', 'Type'], dtype='object')

In [36]:
national = pd.read_csv('national_results.csv')
# file is too long so i am applying nan to remove nan value
national.dropna(inplace=True)
print(national)
national.duplicated().sum()
national.columns

   Release Period    Measure ID  Bottom-box Percentage  Middle-box Percentage  \
0         07_2015   H_CLEAN_HSP                      8                     18
1         07_2015      H_COMP_1                      4                     17
2         07_2015      H_COMP_2                      4                     14
3         07_2015      H_COMP_3                      9                     23
4         07_2015      H_COMP_5                     18                     17
..            ...           ...                    ...                    ...
85        07_2023      H_COMP_6                     14                      0
86        07_2023      H_COMP_7                      6                     43
87        07_2023  H_HSP_RATING                      9                     21
88        07_2023   H_QUIET_HSP                     10                     28
89        07_2023      H_RECMND                      6                     25

    Top-box Percentage
0                   74
1                   79
2                   82
3                   68
4                   65
..                 ...
85                  86
86                  51
87                  70
88                  62
89                  69

[90 rows x 5 columns]

Index(['Release Period', 'Measure ID', 'Bottom-box Percentage',
       'Middle-box Percentage', 'Top-box Percentage'],
      dtype='object')

In [37]:
questions = pd.read_csv('questions.csv')
questions.dropna(inplace=True)
print(questions)
questions.duplicated().sum()
questions.columns

    Question Num    Measure ID  \
0              1      H_COMP_1
1              2      H_COMP_1
2              3      H_COMP_1
3              4      H_COMP_3
4              5      H_COMP_2
5              6      H_COMP_2
6              7      H_COMP_2
7              8   H_CLEAN_HSP
8              9   H_QUIET_HSP
9             11      H_COMP_3
10            13      H_COMP_5
11            14      H_COMP_5
14            18  H_HSP_RATING
15            19      H_RECMND
16            20      H_COMP_7
17            21      H_COMP_7
18            22      H_COMP_7

                                             Question  \
0   During this hospital stay, how often did nurse...
1   During this hospital stay, how often did nurse...
2   During this hospital stay, how often did nurse...
3   During this hospital stay, after you pressed t...
4   During this hospital stay, how often did docto...
5   During this hospital stay, how often did docto...
6   During this hospital stay, how often did docto...
7   During this hospital stay, how often were your...
8   During this hospital stay, how often was the a...
9   How often did you get help in getting to the b...
10  Before giving you any new medicine, how often ...
11  Before giving you any new medicine, how often ...
14  Using any number from 0 to 10, where 0 is the ...
15  Would you recommend this hospital to your frie...
16  During this hospital stay, staff took my prefe...
17  When I left the hospital, I had a good underst...
18  When I left the hospital, I clearly understood...

                Bottom-box Answer Middle-box Answer  Top-box Answer
0              Sometimes or never           Usually          Always
1              Sometimes or never           Usually          Always
2              Sometimes or never           Usually          Always
3              Sometimes or never           Usually          Always
4              Sometimes or never           Usually          Always
5              Sometimes or never           Usually          Always
6              Sometimes or never           Usually          Always
7              Sometimes or never           Usually          Always
8              Sometimes or never           Usually          Always
9              Sometimes or never           Usually          Always
10             Sometimes or never           Usually          Always
11             Sometimes or never           Usually          Always
14                         0 to 6            7 or 8         9 or 10
15   Probably no or definitely no      Probably yes  Definitely yes
16  Disagree or strongly disagree             Agree  Strongly Agree
17  Disagree or strongly disagree             Agree  Strongly Agree
18  Disagree or strongly disagree             Agree  Strongly Agree

Index(['Question Num', 'Measure ID', 'Question', 'Bottom-box Answer',
       'Middle-box Answer', 'Top-box Answer'],
      dtype='object')

In [38]:
reports = pd.read_csv('reports.csv')
reports.dropna(inplace=True)
print(reports)
reports.duplicated().sum()
reports.columns

  Release Period  Start Date    End Date
0        07_2015  2013-10-01  2014-09-30
1        07_2016  2014-10-01  2015-09-30
2        07_2017  2015-10-01  2016-09-30
3        07_2018  2016-10-01  2017-09-30
4        07_2019  2017-10-01  2018-09-30
5        07_2020  2018-10-01  2019-09-30
6        07_2021  2019-10-01  2020-09-30
7        07_2022  2020-10-01  2021-09-30
8        07_2023  2021-10-01  2022-09-30

Index(['Release Period', 'Start Date', 'End Date'], dtype='object')

In [46]:
import numpy as np
# i am doing this because i saw not availabe values 
responses = pd.read_csv('responses.csv')
responses.replace('Not Available', np.nan, inplace=True)
responses.dropna(inplace=True)
print(responses)
responses.duplicated().sum()
responses.columns

      Release Period State Facility ID    Completed Surveys Response Rate (%)
0            07_2015    AL       10001          300 or more                27
1            07_2015    AL       10005          300 or more                37
2            07_2015    AL       10006          300 or more                25
3            07_2015    AL       10007  Between 100 and 299                30
4            07_2015    AL       10008       Fewer than 100                28
...              ...   ...         ...                  ...               ...
43207        07_2023    TX      670143                   42                28
43208        07_2023    TX      670259                   34                34
43209        07_2023    TX      670260                  454                14
43214        07_2023    TX      670300                  186                15
43215        07_2023    TX      670309                  164                12

[37445 rows x 5 columns]

Index(['Release Period', 'State', 'Facility ID', 'Completed Surveys',
       'Response Rate (%)'],
      dtype='object')

In [40]:
state = pd.read_csv('state_results.csv')
state.dropna(inplace=True)
print(state)
state.duplicated().sum()
state.columns

     Release Period State    Measure ID  Bottom-box Percentage  \
0           07_2015    AK   H_CLEAN_HSP                      8
1           07_2015    AK      H_COMP_1                      9
2           07_2015    AK      H_COMP_2                     10
3           07_2015    AK      H_COMP_3                     11
4           07_2015    AK      H_COMP_5                     19
...             ...   ...           ...                    ...
4575        07_2023    WY      H_COMP_6                     14
4576        07_2023    WY      H_COMP_7                      5
4577        07_2023    WY  H_HSP_RATING                      7
4578        07_2023    WY   H_QUIET_HSP                      6
4579        07_2023    WY      H_RECMND                      4

      Middle-box Percentage  Top-box Percentage
0                        22                  70
1                        17                  74
2                        15                  75
3                        21                  68
4                        17                  64
...                     ...                 ...
4575                      0                  86
4576                     41                  54
4577                     22                  71
4578                     28                  66
4579                     26                  70

[4580 rows x 6 columns]

Index(['Release Period', 'State', 'Measure ID', 'Bottom-box Percentage',
       'Middle-box Percentage', 'Top-box Percentage'],
      dtype='object')

In [41]:
states_cont = pd.read_csv('states.csv')
states_cont.dropna(inplace=True)
print(states_cont)
states_cont.duplicated().sum()
states_cont.columns

   State                State Name              Region
0     AK                    Alaska             Pacific
1     AL                   Alabama  East South Central
2     AR                  Arkansas  West South Central
3     AZ                   Arizona            Mountain
4     CA                California             Pacific
5     CO                  Colorado            Mountain
6     CT               Connecticut         New England
7     DC      District of Columbia      South Atlantic
8     DE                  Delaware      South Atlantic
9     FL                   Florida      South Atlantic
10    GA                   Georgia      South Atlantic
11    HI                    Hawaii             Pacific
12    IA                      Iowa  West North Central
13    ID                     Idaho            Mountain
14    IL                  Illinois  East North Central
15    IN                   Indiana  East North Central
16    KS                    Kansas  West North Central
17    KY                  Kentucky  East South Central
18    LA                 Louisiana  West South Central
19    MA             Massachusetts         New England
20    MD                  Maryland      South Atlantic
21    ME                     Maine         New England
22    MI                  Michigan  East North Central
23    MN                 Minnesota  West North Central
24    MO                  Missouri  West North Central
25    MS               Mississippi  East South Central
26    MT                   Montana            Mountain
27    NC            North Carolina      South Atlantic
28    ND              North Dakota  West North Central
29    NE                  Nebraska  West North Central
30    NH             New Hampshire         New England
31    NJ                New Jersey        Mid-Atlantic
32    NM                New Mexico            Mountain
33    NV                    Nevada            Mountain
34    NY                  New York        Mid-Atlantic
35    OH                      Ohio  East North Central
36    OK                  Oklahoma  West South Central
37    OR                    Oregon             Pacific
38    PA              Pennsylvania        Mid-Atlantic
39    RI              Rhode Island         New England
40    SC            South Carolina      South Atlantic
41    SD              South Dakota  West North Central
42    TN                 Tennessee  East South Central
43    TX                     Texas  West South Central
44    UT                      Utah            Mountain
45    VA                  Virginia      South Atlantic
46    VT                   Vermont         New England
47    WA                Washington             Pacific
48    WI                 Wisconsin  East North Central
49    WV             West Virginia      South Atlantic
50    WY                   Wyoming            Mountain
51    AS            American Samoa             Pacific
52    GU                      GUAM             Pacific
53    MP  Northern Mariana Islands             Pacific
54    PR               Puerto Rico      South Atlantic
55    VI            Virgin Islands      South Atlantic

Index(['State', 'State Name', 'Region'], dtype='object')

In [ ]:
# data_dict = data names
# measures = Measure ID
# national = Measure ID
# questions = Measure ID
# reports = Realease Period
# responses = Realease Period, state
# state = Release Period, state, Measure ID
# states_cont = state

# there are the unique id which connect each dataset to one another now i can easily visualize them 
# sorry for inconvience because i am using tableau as i don't have power bi access 
# and i am now on mac but ik power bi well

In [54]:
# now converting all files into csv as a cleaned one
data_dict.to_csv('data_dict.csv', index=False)
measures.to_csv('measures.csv', index=False)
national.to_csv('national.csv', index=False)
questions.to_csv('questions.csv', index=False)
reports.to_csv('reports.csv', index=False)
responses.to_csv('responses.csv', index=False)
state.to_csv('state.csv', index=False)
states_cont.to_csv('states_cont.csv', index=False)